/*
FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

align-content: center;
align-self: center;
align-items: center;
flex-direction:column;
justify-content: space-around;
flex-wrap: nowrap;
flex-flow: column;
order: 0;
*/

body{
    font-family: 'Noto Serif', serif;
    line-height: 1.8;
    margin: 0;
    background-color: #eeebda;
}
h1, h2, h3{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0;
}
img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    block-size: 17em;

}
.wrapper{
    margin: 0 auto;
    width: 60%;
    /*
        TODO: !check!
        - Center up the page
        - Create a flexbox containerer for
        the major page sections
    */
}


.main-container{
  display: flex;
  width: 75%;
  /*padding-bottom: 2em;*/
  margin: 0 auto;
  position: relative;
  top: -50px;
}

/*img{
  flex-direction: row;
  align-items: center;
}*/

#site-header{
    /*
        TODO
        - Flexbox property here
    */
}
#site-header div{
    text-align: center;
    padding: 60px 0 120px 0;
    font-size: 4em;
    /*
        TODO: !check!
        - Add a background image "header-img.jpg"
        make sure that the path to the image is correct
    */
    background-image: url("./img/header-img.jpg");
    background-size: cover;
    background-position: right bottom;
}
#site-header div h1,
#site-header div h3{
    margin: 0;
    line-height: 1;
    position: relative;
}
#site-header div h1{
    top: 20px;

}
#site-header div h3{
    color: white;
    bottom: 20px;
    text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
    font-family: dancing script;

    /*
        TODO:!check!
        - Use the script font: 'Dancing Script' fot this text
    */
}
#main-navigation{
    background: #444;
    display: flex;
    justify-content: space-around;

    /*
        TODO:!check!
        - Use Flexbox to arrange the navigation links
    */
}
#main-navigation a{
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 20px;
    /*
        TODO: ?done?
        - Flexbox - Create general spacing between nav links
    */
}
#main-navigation #logo{
    margin-right: 900px;

    /*
        TODO: ?done?
        - Flexbox - The logo needs to take up more space
        that the other links
    */
}
main{
    padding: 20px;
    background-color: #444;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    width: auto;
    display: flex;
    flex-direction: column;
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */

}

#Dinosaur-container{
  display: flex;
  flex-direction: row-reverse;
}

#Dinosaur-container p{
  margin-right: 20px;
}

#Dos-Equis-Container{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}

aside{
    padding: 20px;
    background-color: #eee;
    box-shadow: 5px 5px 8px rgba( 0, 0, 0, 0.3 );
    width: 100em;
    /*
        TODO:
        - Flexbox: Set the starting width of this element
        - Use relative positioning to bump this upward
    */
}
aside h3{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}
aside img{
    border-radius: 50%;
    margin-bottom: 30px;
    border: 2px solid white;
}
article{
    background-color: white;
    box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
    padding: 20px;
    margin-bottom: 20px;
}
article h2{
    line-height: 1em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
}
article time{
    font-size: 0.8em;
    text-align: center;
    display: block;
    margin-bottom: 30px;
    color: #666;
}
article img{
  margin-right: auto;
  padding: 0px;
  margin: 0px;

    /*
        TODO: !check!
        - Float article images to the right
        and match sizes and spacing to the mockup
    */
}
article footer p{
  text-transform:uppercase;
  font-family: times;
  text-align: center;
  border-top: 1px solid #ccc;
    /*
        TODO: !check!
        - Style the article footer
        HINT: Look to the article header;
    */
}
#site-footer{
    background: #333;
    color: White;
    text-align: center;
    padding: 15px;
    /*
        TODO: !Check!
        - Style the site footer
    */
}
